:root {
    --main-color: #FF7B79;
    --hot-red: #F3C623;
    --light-blue: #77CDFF;
    --primary-blue: #0D92F4;
    --light-gray: #F1F1F1;
    --light-black: #222222;
    --light-bg: #FBFBFD;
}
small {
    color: var(--light-black);
}
.navbar-brand {
    -webkit-user-select: none;
    user-select: none;
}
main section:nth-of-type(2n) {
    background: var(--light-bg);
}
main section .title {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.hero {
    height: calc(100vh - 92px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero span {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-blue)
}
.hero h1 {
    font-weight: bold;
    font-size: 64px;
}
.photo-container {
    height: 500px;
    width: 500px;
    max-width: 99%;
    position: relative;
    text-align: center;
}
.photo-container .photo {
    z-index: 2;
    position: relative;
}
.photo-container .bg-circle {
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--light-blue);
}
.photo-container .bg-circle::after {
    content: '';
    border-radius: 50%;
    width: 110%;
    height: 110%;
    background-color: var(--primary-blue);
    position: absolute;
    top: -5%;
    left: -5%;
    opacity: .4;
}
.photo-container .bg-circle::before {
    content: '';
    border-radius: 50%;
    width: 120%;
    height: 120%;
    background-color: var(--primary-blue);
    position: absolute;
    top: -10%;
    left: -10%;
    opacity: .2;
}
.photo-container .cloud {
    position: absolute;
    bottom: -90px;
    left: 0px;
    z-index: 3;
    height: 141px;
}
.service {
    transition: .5s;
}
.service:hover {
    background: #fff;
    box-shadow: 0 0 40px var(--light-blue);
    border-radius: 8px;
}


.skills-photo-container {
    height: 400px;
    width: 300px;
    max-width: 99%;
    position: relative;
    text-align: center;
}
.skills-photo-container:after {
    content: "";
    position: absolute;
    height: 70%;
    width: 80%;
    left: 10px;
    bottom: 0;
    background-color: var(--primary-blue);
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}
.skills-photo-container:before {
    content: "";
    position: absolute;
    height: 40%;
    width: 60%;
    right: 10px;
    bottom: -20px;
    background-color: var(--hot-red);
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}
.skills-photo-container .photo {
    z-index: 2;
    position: relative;
}
.skills-photo-container .top-corner {
    content: "";
    position: absolute;
    height: 50%;
    width: 6px;
    left: -16px;
    top: calc(30% - 32px);
    background-color: var(--hot-red);
}

.skills-photo-container .left-corner {
    content: "";
    position: absolute;
    height: 6px;
    width: 60%;
    left: -16px;
    top: calc(30% - 32px);
    background-color: var(--hot-red);
}
.projects-container .project span {
    position: relative;
    cursor: pointer;
}
.projects-container .project span .overlay {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--primary-blue);
    transition: .4s;
}
.projects-container .project span i {
    font-size: 24px;
    position: absolute;
    z-index: 508;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: .4s;
}
.projects-container .project span:hover .overlay {
    opacity: .4;
}

.projects-container .project span:hover i {
    opacity: 1;
}

.projects-container .project img {
    object-fit: cover;
}